{% extends '::layout.html.twig' %}

{% block title -%} Maschinen {% endblock %}
{% block content -%}
    <table class="table-striped table">
        <thead>
            <tr>
                <th>Bild</th>
                <th>Name</th>
                <th>Seriennummer</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.bildDateiname %}
                        <img src="{{ vich_uploader_asset(entity, 'bild') | imagine_filter('thumb')}}" alt="{{ entity.name }}" />
                    {% else %}
                        kein bild
                    {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.seriennummer }}</td>
                <td>
<div class="btn-group" role="group">	<a class="btn btn-default"  href="{{ path('maschine_show', { 'id': entity.id }) }}">anzeigen</a>	<a class="btn btn-default"  href="{{ path('maschine_edit', { 'id': entity.id }) }}">bearbeiten</a>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-default" href="{{ path('maschine_new') }}">
        Neue Maschinen anlegen
    </a>
    {% endblock %}
