{% extends '::layout.html.twig' %}

{% block title -%} Maschine {% endblock %}
{% block content -%}
    <table class="table table-striped">
            <tbody>
            <tr>
                 <td class="field-label col-xs-2 active">
                    <label>Id</label>
                </td>
                <td class="col-md-10">
                    {{ entity.id }}
                </td>
            </div>  
            </tr>
             
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
                 
            </tr>

            <tr>
                <th>Seriennummer</th>
                <td>{{ entity.seriennummer }}</td>
            </tr>
        </tbody>
    </table>
        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('maschine') }}">
        Zurück zur Liste
    </a>
        <a class="btn btn-default" href="{{ path('maschine_edit', { 'id': entity.id }) }}">
            Bearbeiten
        </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
