{% extends '::layout.html.twig' %}

{% block title -%} Maschine {% endblock %}
{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Seriennummer</th>
                <td>{{ entity.seriennummer }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('maschine') }}">
        Back to the list
    </a>
        <a class="btn btn-default" href="{{ path('maschine_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
