{% trans_default_domain 'FOSUserBundle' %}
{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Mein Profil{% endblock %}

{% block content %}
<div class="row">
	<table class="table table-striped">
		<tr>
			<td>{{ 'profile.show.username'|trans }}</td>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
		    <td>{{ 'profile.show.email'|trans }}</td>
		    <td>{{ user.email }}</td>
		</tr>

		<tr>
			<td>Rollen:</td>
			<td>
		    	{% for role in user.getRoles() %}
		    		<div class="label label-default">{{role|trans }}</div>
		    	{% endfor %}
			</td>
		</tr>
		<tr>
			<td>Zugriffsrechte</td>
			<td>
				{% for key,granted in feature_voter.features_for_user(user) %}
					{% if granted %}
		    			<div class="label label-default">{{key|trans }}</div>
		    		{% endif %}
				{% endfor %}
			</td>
		</tr>

	</table>
    </p>
</div>
<div class="row">
<div class="col-lg-12">
    <a class="btn btn-primary"
       href="{{ path('fos_user_profile_edit') }}">
        {{ 'layout.profile_edit'|trans({}, 'FOSUserBundle') }}
    </a>
</div>
{% endblock %}
