{% extends '::layout.html.twig' %}

{% block title -%} Stoerungen {% endblock %}
{% block content -%}
    <table class="table-striped table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Störungsbeginn</th>
                <th>Störungsende</th>
                <th>Behoben</th>
                <th>Bemerkungen</th>
                <th>Massnahmen</th>
                <th>Art</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stoerung_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.stStart %}{{ entity.stStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.stEnd %}{{ entity.stEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.behoben }}</td>
                <td>{{ entity.bemerkungen }}</td>
                <td>{{ entity.massnahmen }}</td>
                <td>{{ entity.art }}</td>
                <td>
<div class="btn-group" role="group">	<a class="btn btn-default"  href="{{ path('stoerung_show', { 'id': entity.id }) }}">anzeigen</a>	<a class="btn btn-default"  href="{{ path('stoerung_edit', { 'id': entity.id }) }}">bearbeiten</a>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-default" href="{{ path('stoerung_new') }}">
        Neue Störung melden
    </a>
    {% endblock %}
