{% extends '::layout.html.twig' %}

{% block title -%} Störung {% endblock %}
{% block content -%}
    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="field-label col-xs-2 active">
                    <label>Störungsbeginn</label>
                </td>
                <td class="col-md-10">
                   {{ entity.stStart|date('Y-m-d H:i:s') }}
                </td>
            </tr>
            <tr>
                <th>Störungsende</th>
                <td>{{ entity.stend|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fehlercode</th>
                <td>{{ entity.fehlercode }}</td>
            </tr>
            <tr>
                <th>Behoben</th>
                <td>{{ entity.behoben }}</td>
            </tr>
            <tr>
                <th>Bemerkungen</th>
                <td>{{ entity.bemerkungen }}</td>
            </tr>
            <tr>
                <th>Massnahmen</th>
                <td>{{ entity.massnahmen }}</td>
            </tr>
            <tr>
                <th>Art</th>
                <td>
                        {% if entity.art == 'S' %}
                        {{ label_warning('Störung') }}
                    {% endif %}
                    {% if entity.art == 'A' %}
                        {{ label_danger('Ausfall') }}
                    {% endif %}
                    </td>
             </tr>
            </tr>
        </tbody>
    </table>

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('maschinen_view',{'maschine_id':entity.maschine.id}) }}">
        Zurück zur Maschine
    </a>
</div>
{% endblock %}
