{% extends '::layout.html.twig' %}

{% block title -%} Stoerung {% endblock %}
{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Störungsbeginn</th>
                <td>{{ entity.stStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Störungsende</th>
                <td>{{ entity.stEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Behoben</th>
                <td>{{ entity.behoben }}</td>
            </tr>
            <tr>
                <th>Bemerkungen</th>
                <td>{{ entity.bemerkungen }}</td>
            </tr>
            <tr>
                <th>Massnahmen</th>
                <td>{{ entity.massnahmen }}</td>
            </tr>
            <tr>
                <th>Art</th>
                <td>{{ entity.art }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('stoerung') }}">
        Zurück zur Liste
    </a>
        <a class="btn btn-default" href="{{ path('stoerung_edit', { 'id': entity.id }) }}">
            Bearbeiten
        </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
