<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            
            <a class="navbar-brand" href="{{path('index') }}"><strong>Störungsmelder Backend</strong></a>
        </div>
         <div>
        <a><img src="\Hawe_Inline.JPG" alt="Firmenlogo" class="img_thumbnail" width="150em" height="90em" style="margin-top: 0em; float: right; border-style: double; border-width: 0.3em";></a>
    </div>
        <a href="{{path('aktuelle_stoerungen') }}"
           class="btn btn-default navbar-btn">aktuelle Störungen</a>
        <a class="btn btn-default navbar-btn" href="{{ path('index') }}">
            Startseite
        </a>
       
    </div>
     
    <div class="navbar-default sidebar" role="navigation">,

        <div class="sidebar-nav navbar-collapse">
           
            <ul class="nav" id="side-menu">
	            <li>
	    			<a href="{{ path("abteilung") }} ">Abteilungen</a>
	            </li>
                <li>
                    <a href="{{ path("maschinen_index") }} ">Maschinen</a>
                </li>
            </ul>
            
        </div>
  
    
      </div>
</nav>
