{% extends '::layout.html.twig' %}

{% block title -%} Maschine {% endblock %}
{% block content -%}
    <table class="table table-striped">
            <tbody>
            <tr>
                <th class="field-label col-xs-2 active">Name</td>
                <td>{{ entity.name }}</td>

            </tr>
            <tr>
                <th>Seriennummer</th>
                <td>{{ entity.seriennummer }}</td>
            </tr>
            <tr>
                <th>Bild</th>
                <td>
                    <img src="{{ vich_uploader_asset(entity, 'bild') | imagine_filter('view')}}" alt="{{ entity.name }}" />
                </td>
            </tr>

        </tbody>
    </table>
        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('maschine') }}">
        Zurück zur Liste
    </a>
        <a class="btn btn-default" href="{{ path('maschine_edit', { 'id': entity.id }) }}">
            Bearbeiten
        </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
