{% extends '::layout.html.twig' %}

{% block title -%} Maschine {% endblock %}
{% block topbutton -%}
        <a href="{{ path('maschinen_details',{ 'maschine_id' :maschine.id, 'behobenstatus': 0 }) }}" class="btn btn-default {% if behoben == 0 %}active{% endif %}">offene Störungen</a>
        <a href="{{ path('maschinen_details',{ 'maschine_id' :maschine.id, 'behobenstatus': 1 }) }}" class="btn btn-default {% if behoben == 1 %}active{% endif %}">abgeschlossene Störungen</a>
        <a href="{{ path('maschinen_new',{ 'abteilung_id' :maschine.abteilung.id }) }}" class="btn btn-default">Grafik</a>
{% endblock %}
{% block content -%}
    {% if behoben == 0 %}
        <h3>Für die Maschine {{ maschine.name }} bestehen folgende offene Störungen!</h3>
   {% else %}
        <h3>Für die Maschine {{ maschine.name }} wurden bis jetzt folgende Störungen beendet!</h3>
    {% endif %}
    <table class="table table-striped">
        {%if behoben == 0 %}
        <thead>
            <tr>
                <th>Art der Störung</th>
                <th>Beginn der Störung</th>
                <th>Bemerkungen</th>
            </tr>
        </thead>
        <tbody>
        {% for stoerung in stoerungen %}
                <tr>
                    <td>{{ stoerung.art }}</td>
                    <td>{% if stoerung.stStart %}{{ stoerung.stStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ stoerung.bemerkungen }}</td>
                </tr>
        {% endfor %}

        </tbody>
        {% else %}
         <thead>
            <tr>
                <th>Art der Störung</th>
                <th>Beginn der Störung</th>
                <th>Ende der Störung</th>
                <th>Bemerkungen</th>
                <th>Maßnahmen</th>
            </tr>
        </thead>
        <tbody>
        {% for stoerung in stoerungen %}
                <tr>
                    <td>{{ stoerung.art }}</td>
                    <td>{% if stoerung.stStart %}{{ stoerung.stStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if stoerung.stEnd %}{{ stoerung.stEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ stoerung.bemerkungen }}</td>
                    <td>{{ stoerung.massnahmen }}</td>
                </tr>
        {% endfor %}
        {% endif %}
    </table>
    <a class="btn btn-default"
       href="{{ path('maschinen_index',{'abteilung':maschine.abteilung.id}) }}">
        Zurück zur Liste
    </a>
</div>
{% endblock %}