{% extends '::layout.html.twig' %}

{% block title -%} Maschine {% endblock %}
{% block content -%}
    <table class="table table-striped">
            <tbody>
            <tr>
                <th class="field-label col-xs-2 active">Name</td>
                <td>{{ maschine.name }}</td>

            </tr>
            <tr>
                <th>Seriennummer</th>
                <td>{{ maschine.seriennummer }}</td>
            </tr>
            <tr>
                <th>Bild</th>
                <td>
                    <img src="{{ vich_uploader_asset(maschine, 'bild') | imagine_filter('view')}}" alt="{{ maschine.name }}" />
                </td>
            </tr>

        </tbody>
    </table>
    <a class="btn btn-default"
       href="{{ path('maschinen_index',{'abteilung':maschine.abteilung.id}) }}">
        Zurück zur Liste
    </a>
</div>
{% endblock %}
