{% extends '::layout.html.twig' %}

{% block title -%} Abteilungen {% endblock %}
{% block content -%}
    <table class="table-striped table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('abteilung_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
<div class="btn-group" role="group">	<a class="btn btn-default"  href="{{ path('abteilung_show', { 'id': entity.id }) }}">show</a>	<a class="btn btn-default"  href="{{ path('abteilung_edit', { 'id': entity.id }) }}">edit</a>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-default" href="{{ path('abteilung_new') }}">
        Create a new entry
    </a>
    {% endblock %}
