

{% block title %}laufende Maschinen{% endblock %}

{% block content %}


{% for abteilungen in abteilung %}

<h3 'abteilungen': abteilungen.id >{{abteilungen.name}}</h3>
{% if stoerungen_behoben %}

	<table class="table-striped table">
		<thead>
			<tr>
				<th class="field-label col-xs-1">Bild</th>
				<th class="field-label col-xs-2">Maschine</th>
				<th class="field-label col-xs-2">Seriennummer</th>
			</tr>
		</thead>
		<tbody>
		{% for stoerung in stoerungen_behoben %}
		<tr>
			<td>
                        {% if stoerung.maschine.bildDateiname %}
                            <img src="{{ vich_uploader_asset(maschine, 'bild') | imagine_filter('thumb')}}" alt="{{ maschine.name }}" />
                        {% else %}
                            kein bild
                        {% endif %}
                    </td>
                    <td>{{ stoerung.maschine.abteilung }}</td>
			<td>{{ stoerung.maschine.name }}</td>
			<td>{{ stoerung.maschine.seriennummer }}</td>
        	</tr>
    		{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endfor %}
{% endblock %}
