{% extends "::layout.html.twig" %}

{% block title %}laufende Maschinen{% endblock %}

{% block content %}


{% for teilergebnis in ergebnis %}
  <h3>{{teilergebnis.abteilung.name}}</h3>
  {% if teilergebnis.maschinen %}

    <table class="table-striped table">
      <thead>
        <tr>
          <th class="field-label col-xs-1">Bild</th>
          <th class="field-label col-xs-2">Maschine</th>
          <th class="field-label col-xs-2">Seriennummer</th>
        </tr>
      </thead>
      <tbody>
        {% for maschine in teilergebnis.maschinen %}
          <tr>
            <td>
              {% if maschine.bildDateiname %}
                <img src="{{ vich_uploader_asset(maschine, 'bild') | imagine_filter('thumb')}}" alt="{{ maschine.name }}" />
              {% else %}
                kein bild
              {% endif %}
            </td>
            <td>{{ maschine.name }}</td>
            <td>{{ maschine.seriennummer }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}
{% endblock %}
