{% extends "::layout.html.twig" %}

{% block title %}laufende Maschinen{% endblock %}

{% block content %}


{% for Abteilungen in Abteilung %}

<h3 'Abteilungen': Abteilungen.id >{{Abteilungen.name}}</h3>

	<table class="table-striped table">
		<thead>
			<tr>
				<th class="field-label col-xs-1">Bild</th>
				<th class="field-label col-xs-2">Maschine</th>
				<th class="field-label col-xs-2">Seriennummer</th>
			</tr>
		</thead>
		<tbody>
		{% for maschine in maschinen %}
		<tr>
			<td>
                {% if maschine.bildDateiname %}
                <img src="{{ vich_uploader_asset(maschine, 'bild') | imagine_filter('thumb')}}" alt="{{ maschine.name }}" />
                {% else %}
                 kein bild
                 {% endif %}
            </td>
        	<td>{{ maschine.name }}</td>
        	<td>{{ maschine.seriennummer|e }}</td>
    		{% else %}
        	<td><em>Es wurde keine Maschine gefunden</em></td>
        	</tr>
    		{% endfor %}
		</tbody>
	</table>
{% endfor %}
{% endblock %}
